:root{

    // background

    --main-color: #E8A554;
    --sale-color: #F20202;

    --sub-title-color: #E8A554;
    --title-color: #191245;

    --text-color: #191245CC;

    --button-bg: #E8A554;
    --text-white: #fff;

    --price-color: #F20202;

    --button-dark-bg: #191245;
    --text-dark: #000000;

    --search-bg:#F3F3F5;


    // font family 
    --poppins: "Poppins", sans-serif;

    // font weight
    --fw-200:200;
    --fw-300:300;
    --fw-400:400;
    --fw-500:500;
    --fw-600:600;
    --fw-700:700;
    --fw-800:800;
    --fw-900:900;
    --fw-900:900;

    // font style
    --font-italic: italic;
    --font-normal: normal;


}
